.sidebar ul{
  list-style:none;
  padding:0;
  margin:0;
  font-size:15px;
}
.sidebar ul li{
  margin-bottom: 15px;
  color:white;
}
.logodiv{
  margin-bottom:40px;
  margin-top:20px;
}
body{
  background-color: white !important;
}


.searchbox{
  background:white;
  width:94%;
}

.icon{
  width:6%;
}
.log ul li{
   list-style:none  !important;
   margin:0px 15px;
   float:left;
}
.log ul li i{
  margin-right: 10px;
}
.col-md-12{
 
  height: 120px;
}
.row{
  width:120%;
}
.a{
  width: 95%;
}